<p>Уважаемый пользователь Smooth Lifestyle!</p>
<p>Мы получили ваш запрос на смену пароля с сайта http://smooth.style</p>

<p>Ваш email: <span style="font-size: 20px; font-weight: bold;"><%= user.email%></span></p>
<p>Ваш новый пароль: <span style="font-size: 20px; font-weight: bold;"><%= new_password%></span></p>

Спасибо.