<p>Dear Smooth Lifestyle user!</p>
<p>We appreciate you used password change option on http://smooth.style</p>

<p>Your email: <span style="font-size: 20px; font-weight: bold;"><%= user.email%></span></p>
<p>Your new password: <span style="font-size: 20px; font-weight: bold;"><%= new_password%></span></p>

Thank you.